body {
  margin  : 0;
  height  : calc(100vh);
  width   : 100vw;
  position          : relative;
  background-color  : #252a2e;
}

@font-face {
  src         : url('./star-jedi/starjedi/Starjedi.ttf') format('truetype');
  font-family : 'starJedi';

}

@font-face {
  src         : url('./star-jedi/starjedi/Starjhol.ttf') format('truetype');
  font-family : 'starJediOut';
}


#heading {
  color     : white;
  font-size : 50px;
  margin    : 0 auto;
  position  : absolute;
  left      : 0;
  right     : 0;
  top       : 0;
  height    : 40px;
  width     : 450px;
  opacity   : 0.55;
  padding-top : 30px;
  font-family : starJedi;
  line-height : 0.65;
  text-align  : center;
  user-select : none;
  letter-spacing  : 4px;
  transition      : opacity .25s ease-in-out;
}

#heading span{
  position    : absolute;
  font-size   : 20px;
  opacity     : 0.5;
  line-height : 16px;
  letter-spacing  : 3px;
}

#canvas {
  position  : absolute;
  left      : 0;
  right     : 0;
  margin    : 0 auto;
  width     : 100%;
  height    : 100%;
}

.toolbox {
  height    : 50px;
  display   : flex;
  margin    : 0 auto;
  position  : absolute;
  left      : 0;
  right     : 0;
  width     : 100%;
  bottom    : 0;
  flex-direction  : row;
  justify-content : space-around;
  align-items     : center;
  padding-bottom  : 30px;
  user-select     : none; /* Standard */
}

.tool {
  display   : flex;
  opacity   : 0.3;
  cursor    : pointer; /* Change cursor to pointer on hover */
  transition: opacity .25s ease-in-out;
  flex-direction  : column;
  align-items     : center;
}

.toolDisable {
  opacity   : 0.05;
  cursor    : not-allowed; /* Change cursor to pointer on hover */
  transition  : opacity .25s ease-in-out;
}

.toolSpan {
  color       : white;
  display     : block;
  text-align  : center;
  font-family : starJedi;
  font-size   : 15px;
  width       : 100px;
  letter-spacing  : 2.5px;
}

.toolImg {
  width   : 30px;
  margin  : 5px;
}

#algoNameBubble{
  position  : absolute;
  opacity   : 0;
  top       : -10px;
}

.row {
  border: 2px solid red;
  justify-content: space-around
}

.col {
  border: 2px solid yellow;
}

#activeLink {
  opacity: 0.1;
}

.activeLink {
  opacity: 0.1;
}

.node {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.outerCircleActive {
  animation     : pulseOuter 1.5s linear infinite;
  transform-box : fill-box;
  opacity       : 0.2;
  transform-origin  : center;
}

@keyframes pulseOuter {
    0%  { transform: rotateZ(0deg)    scale(1);     opacity: 0.3}
    60% { transform: rotateZ(120deg)  scale(1.14);  opacity:0.05}
    100%{ transform: rotateZ(360deg)  scale(1);     opacity: 0.3}
}

.blankCircleActive {
  animation     : pulseBlank 1.5s linear infinite;
  transform-box : fill-box;
  transform-origin  : center;
}

@keyframes pulseBlank {
    0%  { transform: rotateZ(0deg)    scale(1);}
    50% { transform: rotateZ(120deg)  scale(1.2);}
    100%{ transform: rotateZ(360deg)  scale(1);}
}

.innerCircleActive {
  animation     : pulseInner 1.5s linear infinite;
  transform-box : fill-box;
  opacity       : 0.5;
  transform-origin  : center;
}

@keyframes pulseInner {
  0%  { transform: rotateZ(0deg)    scale(1);   opacity: 0.65}
  50% { transform: rotateZ(250deg)  scale(1.2); opacity: 0.3}
  100%{ transform: rotateZ(360deg)  scale(1);   opacity: 0.65}
}

.starActive {
  opacity: 0.8;
}

.nodeActive {
  transform: scale(1);
}

.welcome {
  height      : 250px;
  margin-top  : 200px;
  display     : flex;
  align-items : center;
  flex-direction  : column;
}

.welcome .sub {
  font-family : starJedi;
  color       : white;
  opacity     : 0;
  font-size   : 15px;
  padding     : 5px;
  animation   : welcomeSub 2s ease-in-out;
  letter-spacing  : 2.5px;
}

@keyframes welcomeSub {
  0%{
    letter-spacing: 2px;
    opacity       : 0.3;
  }
  80%{
    letter-spacing: 2.5px;
    opacity       : 0.3;
  }
  100%{
    letter-spacing: 2.5px;
    opacity       : 0;
  }
}

.welcome .main {
  height      :75px;
  font-family : starJedi;
  color       : white;
  opacity     : 0;
  font-size   : 55px;
  line-height : 1.2;
  animation   : welcomeMain 2s ease-in-out;
  letter-spacing  : 4.5px;
}

@keyframes welcomeMain {
  0%{
    letter-spacing: -2.5px;
    opacity       : 0.55;
  }
  80%{
    letter-spacing: 4.5px;
    opacity       : 0.55;
  }
  100%{
    letter-spacing: 4.5px;
    opacity       : 0;
  }
}

.guide {
  display     : none;
  position    : absolute;
  width       : 100%;
  height      : 100%;
  text-align  : center;
  z-index     : 1;
  background-color  : #252a2e;
}

.guideCanvas {
  height  : 200px;
  width   : 400px;
  margin-top    : 80px;
  margin-bottom : 25px;

}

.guideHeading{
    font-size : 25px;
    opacity   : 0.5;
    letter-spacing  : 2px;
}

.guideSubHeading{
    margin-top  : 10px;
    font-size   : 15px;
    opacity     : 0.3;
    letter-spacing  : 2px;
}

.screens {
  display     : none;
  font-family : starJedi;
  color       : white;
}

.guideControl{
  display     : flex;
  align-items : center;
  position    : absolute;
  bottom      : 30px;
  margin      : 0 auto;
  width       : 100%;
  flex-direction  : row;
  justify-content : space-around;
}

.guideControl button {
  height    : 50px;
  display   : flex;
  opacity   : 0.5;
  cursor    : pointer; /* Change cursor to pointer on hover */
  margin    : 0 10px;
  border    : none;
  background-color  : transparent;
  flex-direction    : column;
  align-items       : center;
}

.guideControl button span{
  font-family : starJedi;
  font-size   : 15px;
  color       : white;
  letter-spacing  : 2.5px;
}

.guideControl button img{
  width: 30px;
}

.actualLinkActive {
  opacity       : 0.3;
  stroke-width  : 3px;
}

#selectAlgo {
  position  : absolute;
  bottom    : 100px;
  width     : 150px;
  height    : 100px;
  background-color: rgba(255,255,255, 0.1)
}

.fadedHeading {
  opacity : 0.05 !important;
  transition  : opacity .25s ease-in-out;
}

